{% extends "base.html" %}

{% block title %}Unser Gästehaus{% endblock title %}

{% block page_content %}

    <h1>Unser Haus</h1>
    <p> Unser behaglich gestaltetes, familienfreundliches Nichtraucherhaus bietet vollsten Komfort für jeden Urlauber.
        Ein ausgiebiges Frühstücksbuffet, welches im Sommer auch auf der eigenen Gästeterasse eingenommen werden kann, lässt sie gestärkt in den Tag starten.</p>
    <p>Während Erwachsene auf der Liegewiese oder Gästeterasse sich der Sonne hingeben können, steht für die kleinen Gäste ein Spielplatz zum Toben bereit.
        Für Feinschmecker der eigenen Küche steht sowohl eine Grill- als auch eine Kochmöglichkeit zur Verfügung.</p>
    <p>Abseits von Stress und Hektik warten gemütliche Tage in unserer Pension auf Sie.</p>

    <h1>Zimmerausstattung</h1>
    <p>Alle unsere Zimmer verfügen über:</p>
    <ul>
        <li>Dusche/WC</li>
        <li>Bade-und Handtücher</li>
        <li>Fön</li>
        <li>W-LAN</li>
        <li>Sonnenterasse</li>
        <li>Minibar</li>
    </ul>

    <h1>Über uns</h1>
    <p>Wir sind eine kleine Ninja-Familie und vermieten unsere Zimmer.</p>

    <h1> Besondere Aktion für Programmierer!!</h1>
    <h2> Jetzt und nur für kurze Zeit: -50% auf alle Buchungen, für Programmierer, die uns helfen, unseren Webauftritt zu verbessern.</h2>
    <p>
{% endblock page_content %}