{% extends "base.html" %}

{% block title %}Kontakt{% endblock title %}

{% block page_content %}
    <h1>Kontakt</h1>
    <p> Der direkteste Draht zu uns ist via Telefon. Bitte zögern Sie nicht, uns telefonisch zu kontaktieren.</p>
    <p> Selbstverständlich bemühen wir uns, auch E-Mails noch am selben Tag zu beantworten.</p>

    <p><strong> Max und Margit Musterninjas </strong></p>
    <p> Panoramstr. 1 </p>
    <p> 2560 Schönsee</p>

    <p> Tel: 0676 834 43 89</p>
    <p> E-Mail:  panoramablick@musterninjas.at</p>

{% endblock page_content %}